.gallery {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}
.gallery img {
  padding: 4px;
  width: 20vw;
  height: 10vw;
}
img:hover {
  transform: scale(1.1);
}

@media (max-width:550px){ 
    .gallery {
        display: flex;
        flex-flow: row;
        gap: 10px;
        overflow-x: auto;
      }
      .gallery img {
        width: 150px;
        height: 150px;
    }
}